html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.button {
    background-color: royalblue; /* Green */
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#result-container {
    margin-bottom: 20px;
}

.score-container {
    margin-bottom: 20px;
}

.human-score-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.computer-score-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.win {
    background-color: lightgreen;
    color: black;
}

.loss {
    background-color: indianred;
    color: black;
}